@import url('variables2.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #071917;
    overflow-x: hidden;
}

.header-dos{
    /* background: orange; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.logo-2{
    /* background: green; */
    /* padding: 20px; */

}

.encabezado{
    /* background: blueviolet; */
    /* padding: 20px; */
    display: flex;
    gap: 18px;
}

.div_menu_dos{
    /* background: blue; */
    /* padding: 20px; */
}

.ul_menu_dos{
    /* background: red; */
    /* padding: 20px; */
    display: flex;
    gap: 50px;
    padding-right: 100px;
    color: #eee;
    position: relative;
    left: 400px;
}

.ul_menu_dos li{
    list-style: none;
    font-family: "Montserrat-SemiBold";
}

.section_opciones{
    /* background: orangered;
    padding: 10px; */
    position: relative;
    top: 52px;
}

.imagen_linea{
    /* background: orange;
    padding: 10px; */
}

.imagen_linea img{
    /* background: orchid;
    padding: 10px; */
    width: 1255px;
    position: relative;
    left: 70px;
}

.section_menu{
    /* background: gold;
    padding: 10px; */
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 1100px;
    position: relative;
    left: 105px;

}

.menu_link {
    /* background: greenyellow; */
    padding: 10px;
    border-radius: 05px;
    position: relative;
    right: 120px;
    width: 120px;
    height: 30px;
    font-size: 15px;
    background: #14532A;

}

.menu_link a{
    /* background: pink; */
    font-size: 15px;
    position: relative;
    left: 5px;
    bottom: 2px;
    text-decoration: none;
    color: var(--color-1);
    font-family: "Montserrat-Medium";
}

.div_menu_blog{
    /* background: purple;
    padding: 10px; */
    position: relative;
    right: 10px;
}

.ul__menu{
    /* background: aqua;
    padding: 10px; */
    display: flex;
    gap: 60px;
    font-family: "Monstserrat-light";
    color: var(--color-1);
}

.ul__menu li{
    /* background: blue;
    padding: 10px; */
    list-style: none;
    position: relative;
    top: 5px;
}

.main_blog{
    /* background: orange;
    padding: 10px; */
    display: flex;
    position: relative;
    top: 125px;
}

.imagen_main{
    /* background: blue;
    padding: 10px; */
    width: 1027px;
    height: 606px;
}

.imagen_main img{
    /* background: violet; */
    /* padding: 10px; */
    position: relative;
    left: 30px;
    z-index: 1;
}

.section_article_dos{

}

.div_del_menu{
    width: 600px;
    height: 460px;
    padding: 10px;
    border-radius: 20px;
    z-index: 10;
    position: relative;
    right: 330px;
    top: 75px;
    background: rgba(12, 77, 34, 0.8);
}

.div_del_menu span{
    /* background: olive; */
    /* padding: 10px; */
    font-size: 28px;
    position: relative;
    top: 10px;
    left: 10px;
    font-family: "Monstserrat-light";
    color: #eee;
}

.div_del_menu h2{
    /* background: blue; */
    /* padding: 10px; */
    font-size: 28px;
    position: relative;
    top: 100px;
    left: 10px;
    width: 518px;
    height: 62px;
    font-family: "Montserrat-SemiBold";
    color: #eee;
}

.div_del_menu p{
    /* background: red; */
    /* padding: 10px; */
    font-size: 20px;
    position: relative;
    top: 115px;
    left: 10px;
    width: 500px;
    font-family: "Montserrat-Medium";
    color: #eee;
}



.div_leer{
    background: var(--color-1);
    padding: 0px 50px;
    border-radius: 25px;
    position: relative;
    top: 155px;
    left: 240px;
    width: 150px;
    height: 40px;
   
    
}

.div_leer p{
    font-size: 25px;
    width: 100%;
    color: black;
    position: relative;
    top: 5px;
    left: -42px;
    width: 1000px;
}

.recent_post{
    /* background: aqua;
    padding: 5px; */
    color: var(--color-1);
    width: 186px;
    height: 34px;
    position: relative;
    top: 30svh;
    left: 10svh;
    font-size: 28px;
    font-family: "Montserrat-Medium";
}

#section_post{
    /* background: cadetblue;
    padding: 5px; */
    position: relative;
    top: 40svh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 310px;
}

/* Caja 1 */

.div_clasita1{
    background: var(--color-2);
    padding: 5px;
    width: 417px;
    height: 563px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.div_clasita1 img{
    /* background: saddlebrown;
    padding: 5px; */
    width: 384px;
    height: 254px;
}

.div_clasita1 h1{
    /* background: red;
    padding: 5px; */
    width: 100%;
    height: 34px;
    text-align: center;
    font-size: 27px;
    color: var(--color-1);
    font-family: "Montserrat-SemiBold";
}

.div_clasita1 p{
    /* background: rebeccapurple;
    padding: 5px; */
    width: 410px;
    height: 72px;
    font-size: 20px;
    text-align: center;
    color: var(--color-1);
    font-family: "Monstserrat-regular";
}

.div_clasita1 a{
    background: var(--color-1);
    color: var(--color-3);
    padding: 5px;
    width: 145px;
    height: 44px;
    display:flex;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Monstserrat-regular";
}


/* Caja 2 */

.div_clasita2{
    background: var(--color-2);
    padding: 5px;
    width: 417px;
    height: 563px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.div_clasita2 img{
    /* background: saddlebrown;
    padding: 5px; */
    width: 384px;
    height: 254px;
}

.div_clasita2 h1{
    /* background: red;
    padding: 5px; */
    width: 100%;
    height: 34px;
    text-align: center;
    font-size: 27px;
    color: var(--color-1);
    font-family: "Montserrat-SemiBold";
}

.div_clasita2 p{
    /* background: rebeccapurple;
    padding: 5px; */
    width: 410px;
    height: 72px;
    font-size: 20px;
    text-align: center;
    color: var(--color-1);
    font-family: "Monstserrat-regular";
}

.div_clasita2 a{
    /* background: yellow;
    padding: 5px; */
    background: var(--color-1);
    color: var(--color-3);
    padding: 5px;
    width: 145px;
    height: 44px;
    display:flex;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Monstserrat-regular";
}


/* Caja 3 */

.div_clasita3{
    background: var(--color-2);
    padding: 5px;
    width: 417px;
    height: 563px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.div_clasita3 img{
    /* background: saddlebrown;
    padding: 5px; */
    width: 384px;
    height: 254px;
}

.div_clasita3 h1{
    /* background: red;
    padding: 5px; */
    width: 100%;
    height: 34px;
    text-align: center;
    font-size: 27px;
    color: var(--color-1);
    font-family: "Montserrat-SemiBold";
}

.div_clasita3 p{
    /* background: rebeccapurple;
    padding: 5px; */
    width: 410px;
    height: 72px;
    font-size: 20px;
    text-align: center;
    color: var(--color-1);
    font-family: "Monstserrat-regular";
}

.div_clasita3 a{
    /* background: yellow;
    padding: 5px; */
    background: var(--color-1);
    color: var(--color-3);
    padding: 5px;
    width: 145px;
    height: 44px;
    display:flex;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Monstserrat-regular";
}


/* Caja 4 */

.div_clasita4{
    background: var(--color-2);
    padding: 5px;
    width: 417px;
    height: 563px;
    position: relative;
    top: 4svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    
}

.div_clasita4 img{
    /* background: saddlebrown;
    padding: 5px; */
    width: 384px;
    height: 254px;
}

.div_clasita4 h1{
    /* background: red; */
    /* padding: 5px; */
    width: 100%;
    height: 34px;
    text-align: center;
    font-size: 27px;
    color: var(--color-1);
    font-family: "Montserrat-SemiBold";
}

.div_clasita4 p{
    /* background: rebeccapurple;
    padding: 5px; */
    width: 410px;
    height: 72px;
    font-size: 20px;
    text-align: center;
    color: var(--color-1);
    font-family: "Monstserrat-regular";
}

.div_clasita4 a{
    /* background: yellow;
    padding: 5px; */
    background: var(--color-1);
    color: var(--color-3);
    padding: 5px;
    width: 145px;
    height: 44px;
    display:flex;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Monstserrat-regular";
}

/* Caja 5 */

.div_clasita5{
    background: var(--color-2);
    padding: 5px;
    width: 417px;
    height: 563px;
    position: relative;
    top: 4svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.div_clasita5 img{
    /* background: saddlebrown;
    padding: 5px; */
    width: 384px;
    height: 254px;
}

.div_clasita5 h1{
    /* background: red;
    padding: 5px; */
    width: 100%;
    height: 34px;
    text-align: center;
    font-size: 27px;
    color: var(--color-1);
    font-family: "Montserrat-SemiBold";
}   

.div_clasita5 p{
    /* background: rebeccapurple;
    padding: 5px; */
    width: 410px;
    height: 72px;
    font-size: 20px;
    text-align: center;
    color: var(--color-1);
    font-family: "Monstserrat-regular";
}

.div_clasita5 a{
    /* background: yellow;
    padding: 5px; */
    background: var(--color-1);
    color: var(--color-3);
    padding: 5px;
    width: 145px;
    height: 44px;
    display:flex;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Monstserrat-regular";
}

/* Caja 6 */

.div_clasita6{
    background: var(--color-2);
    padding: 5px;
    width: 417px;
    height: 563px;
    position: relative;
    top: 4svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.div_clasita6 img{
    /* background: saddlebrown;
    padding: 5px; */
    width: 384px;
    height: 254px;
}

.div_clasita6 h1{
    /* background: red;
    padding: 5px; */
    width: 100%;
    height: 34px;
    text-align: center;
    font-size: 27px;
    color: var(--color-1);
    font-family: "Montserrat-SemiBold";
}

.div_clasita6 p{
    /* background: rebeccapurple;
    padding: 5px; */
    width: 410px;
    height: 72px;
    font-size: 20px;
    text-align: center;
    color: var(--color-1);
    font-family: "Monstserrat-regular";
}

.div_clasita6 a{
    /* background: yellow;
    padding: 5px; */
    background: var(--color-1);
    color: var(--color-3);
    padding: 5px;
    width: 145px;
    height: 44px;
    display:flex;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Monstserrat-regular";
}

.div_final{
    /* background: #432f9c;
    padding: 5px; */
    width: auto;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.div_titulo_final{
    /* background: greenyellow;
    padding: 5px; */
    width: 155px;
    height: 34px;
    display: flex;
    align-items: center;
}

.div_titulo_final h3{
    font-size: 28px;
    display: flex;
    align-items: center;
    color: var(--color-1);
    font-family: "Monstserrat-bold";
}

.div_parrafo_final{
    /* background: red;
    padding: 5px; */
    width: 855px;
    height: 72px;
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
}

.div_parrafo_final p{
    font-size: 20px;
    display: flex;
    text-align: center;
    color: var(--color-1);
    font-family: "Monstserrat-regular";
}

.div_redes_sociales{
    /* background: salmon;
    padding: 5px; */
    width: 304px;
    height: 44px;
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    
}

.div_redes_sociales img{
    /* background: yellow;
    padding: 10px; */
    width: 44px;
    height: 44px;
    position: relative;
    b: 0px;
}

.div_creditos{
    /* background: pink;
    padding: 5px; */
    width: 370px;
    height: 24px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.div_creditos p{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: var(--color-1);
    font-family: "Monstserrat-regular";
}


/* partes hechas por manuel meneses :D */