<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style2.css">
    <title>Blog</title>
</head>
<body>
    <!-- header -->
     <header class="header-dos">
        <div class="logo-2">
            <img src="../storage/img/photo.png">
        </div>
        <div class="div_menu_dos">
            <ul class="ul_menu_dos">
                <li>Blog</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="encabezado">
            <img src="../storage/img/lupa.png">
            <img src="../storage/img/personita.png">
        </div>
    </header>
    <section class="section_opciones">
        <div class="imagen_linea">
            <img src="../storage/img/Line.png">
        </div>
        <section class="section_menu">  
                <div class="menu_link">
                    <a href="../index.html" target="_blank">Latest Blog</a>       
                </div>
                <div class="div_menu_blog">
                    <ul class="ul__menu">
                        <li>Urban Planning</li>
                        <li>Graphics Design</li>
                        <li>Web Design</li>
                        <li>UX/UI Design</li>
                        <li>Technology</li>
                    </ul>
                </div> 
        </section>           
    </section>
    <!-- Seccion main -->
     <main class="main_blog">
        <div class="imagen_main">
            <img src="../storage/img/Rectangle 13.png">
        </div>
        <article class="section_article_dos">
        <div class="div_del_menu">
            <span>Urban Planning</span>
            <h2>Lörem ipsum europlande krohiskap panstik, förväntis.</h2>
            <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt. </p>
            <div class="div_leer">
                <p>Read More</p>
            </div>
        </div>
        </article>
     </main>
     <!--Recent post -->
     <div class="recent_post">
        Recent Post
    </div>
      <section id="section_post">
        <div class="div_clasita1">
            <img src="../storage/img/Rectangle 19.svg">
            <h1>Lörem ipsum patt karirenyst</h1>
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
            <a href="#">Read More</a>
        </div>
        <div class="div_clasita2">
            <img src="../storage/img/Rectangle 19 (1).svg">
            <h1>Lörem ipsum patt karirenyst</h1>
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
            <a href="#">Read More</a>
        </div>
        <div class="div_clasita3">
            <img src="../storage/img/Rectangle 19 (2).svg">
            <h1>Lörem ipsum patt karirenyst</h1>
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
            <a href="#">Read More</a>
        </div>
        <div class="div_clasita4">
            <img src="../storage/img/Rectangle 19 (3).svg">
            <h1>Lörem ipsum patt karirenyst</h1>
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
            <a href="#">Read More</a>
        </div>
        <div class="div_clasita5">
            <img src="../storage/img/Rectangle 19 (4).svg">
            <h1>Lörem ipsum patt karirenyst</h1>
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
            <a href="#">Read More</a>
        </div>
        <div class="div_clasita6">
            <img src="../storage/img/Rectangle 19 (5).svg">
            <h1>Lörem ipsum patt karirenyst</h1>
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
            <a href="#">Read More</a>
        </div>
      </section>
      <div class="div_final">
        <div class="div_titulo_final">
            <h3>daily blog</h3>
        </div>
        <div class="div_parrafo_final">
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. </p>
        </div>
        <div class="div_redes_sociales">
            <a href="#">
                <img src="../storage/img/instagram1.svg">
            </a>
            <a href="#">
                <img src="../storage/img/Group 22.svg">
            </a>
            <a href="#">
                <img src="../storage/img/linkeding.svg">
            </a>
            <a href="#">
                <img src="../storage/img/facebook.svg">
            </a>
            <a href="#">
                <img src="../storage/img/pinterest.svg">
            </a>
        </div>
        <div class="div_creditos">
            <p>© 2025 dailyblog. All rights reserved.</p>
        </div>
      </div>
</body>
</html>